NEXT_PUBLIC_S3_UNDERGRAD_POSITIONS_OBJECT_URL=
NEXT_PUBLIC_S3_GRAD_POSITIONS_OBJECT_URL=
NEXT_PUBLIC_S3_ALUMNI_OBJECT_URL=
NEXT_PUBLIC_S3_BRIGHAM_CAPITAL_POSITIONS_OBJECT_URL=
NEXT_PUBLIC_S3_QUANT_POSITIONS_OBJECT_URL=
NEXT_PUBLIC_LAMBDA_POSITIONS_ENDPOINT=

